<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quart MongoDB CRUD</title>
</head>

<body>
    <div class="container">

        {% for collection_name, documents in all_docs.items() %}
        <h1>{{ collection_name }} </h1>
        <form action="{{ url_for('delete_collection', collection_name=collection_name) }}" method="post"
            onsubmit="return deleteCollectionAndRefresh(this)">
            <button type="submit">Delete Collection</button>
        </form>

        <ul>
            {% for document in documents %}
            <li>
                <form action="{{ url_for('add_key_value', collection_name=collection_name, document_id=document['_id']) }}" method="post" onsubmit="return addKeyValuePairPopup(this)">
                    <button type="submit">Add Key-Value Pair</button>
                </form>
                {% for key, value in document.items() %}
                {{ key }}: {{ value }}
                <button
                    onclick="deleteKeyValuePair('{{ collection_name }}', '{{ document['_id'] }}', '{{ key }}')">Delete
                    Key-Value Pair</button>
                <br>
                {% endfor %}

                <form action="{{ url_for('delete', guild_id=collection_name, document_id=document['_id']) }}"
                    method="post" onsubmit="return deleteDocumentAndRefresh(this, event)">
                    <!-- Round browser limitations on get and post methods -->
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete Document</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}


    </div>

    <script>
        async function addKeyValuePairPopup(form) {
            event.preventDefault();
            // Use prompt to get collection name, key, and value from the user
            console.log("addKeyValuePairPopup triggered");
            const key = prompt('Enter Key:');
            const value = prompt('Enter Value:');
            if (key === null || value === null) return false; // User clicked Cancel

            // Create a FormData object and append key and value
            const formData = new FormData(form);
            formData.set('key', key);
            formData.set('value', value);
            console.log(key)
            console.log(value)

            // Perform the AJAX request to add the key-value pair
            const response = await fetch(form.action, {
                method: form.method,
                body: formData,
            });

            const result = await response.json();

            // Check if the server indicates to refresh the page
            if (result.redirect_url) {
                // Redirect to the specified URL
                window.location.href = result.redirect_url;
            }

            return false;  // Prevent the form from submitting conventionally
        }

        async function deleteDocumentAndRefresh(form, event) {
            event.preventDefault();  // Prevent the form from submitting conventionally

            const response = await fetch(form.action, {
                method: 'DELETE',  // Explicitly set the method to DELETE
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            });

            const result = await response.json();

            // Check if the server indicates to refresh the page
            if (result.redirect_url) {
                // Redirect to the specified URL
                window.location.href = result.redirect_url;
            }

            return false;
        }
        async function deleteCollectionAndRefresh(form) {
            const response = await fetch(form.action, {
                method: form.method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            });

            const result = await response.json();

            // Check if the server indicates to refresh the page
            if (result.redirect_url) {
                // Redirect to the specified URL
                window.location.href = result.redirect_url;
            }

            return false;  // Prevent the form from submitting conventionally
        }
        async function deleteKeyValuePair(collection_name, document_id, key_to_delete) {
            const confirmDelete = confirm(`Are you sure you want to delete the key '${key_to_delete}' from the document?`);

            if (!confirmDelete) {
                return;
            }

            const response = await fetch(`/delete_key_value/${collection_name}/${document_id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'keyToDelete': key_to_delete }),
            });

            const result = await response.json();

            // Check if the server indicates to refresh the page
            if (result.redirect_url) {
                // Redirect to the specified URL
                window.location.href = result.redirect_url;
            }
        }
    </script>
</body>

</html>