<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTD database editor</title>
</head>

<body>
    <p> This is webclient for MOTD bot database editing. You can modify the values with your own risk. Don't use special marks with posts. </p>
    <div class="container">
        <button onclick="createCollectionPrompt()">Create New Collection</button>
        {% for collection_name, documents in all_docs.items() %}
        <h1>{{ collection_name }} </h1>
        <form action="{{ url_for('delete_collection', collection_name=collection_name) }}" method="post"
            onsubmit="return deleteCollectionAndRefresh(this)">
            <button type="submit">Delete Collection</button>
        </form>
        <button onclick="addNewDocumentPrompt('{{ collection_name }}')">Add New Document</button>
        <ul>
            {% for document in documents %}
            <li>
                <form
                    action="{{ url_for('add_key_value', collection_name=collection_name, document_id=document['_id']) }}"
                    method="post" onsubmit="return addKeyValuePair(this)">
                    <button type="submit">Add Key-Value Pair</button>
                </form>
                {% for key, value in document.items() %}
                {{ key }}: {{ value }}
                <button
                    onclick="deleteKeyValuePair('{{ collection_name }}', '{{ document['_id'] }}', '{{ key }}')">Delete
                    Key-Value Pair</button>
                <br>
                {% endfor %}
                <form action="{{ url_for('delete_document', guild_id=collection_name, document_id=document['_id']) }}"
                    method="post" onsubmit="return deleteDocumentAndRefresh(this, event)">
                    <!-- Round browser limitations on get and post methods -->
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete Document</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}

    </div>

    <script>
        async function createCollectionPrompt() {
            event.preventDefault();
            const newCollectionName = prompt('Enter the name for the new collection:');
            if (newCollectionName === null) return false;
            const response = await fetch(`/create_collection/${newCollectionName}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            });
            const result = await response.json();
            if (result.redirect_url) {
                window.location.href = result.redirect_url;
            }
            return false;
        }

        async function addNewDocumentPrompt(collectionName) {
            event.preventDefault();
            const key = prompt('Enter Key:');
            const value = prompt('Enter Value:');
            if (key === null || value === null) return false;
            const response = await fetch(`/add_new_document/${collectionName}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ key, value }),
            });
            const result = await response.json();
            if (result.redirect_url) {
                window.location.href = result.redirect_url;
            }
            return false;
        }
        async function addKeyValuePair(form) {
            event.preventDefault();
            const key = prompt('Enter Key:');
            const value = prompt('Enter Value:');
            if (key === null || value === null) return false;
            const formData = new FormData(form);
            formData.set('key', key);
            formData.set('value', value);
            console.log(key)
            console.log(value)
            const response = await fetch(form.action, {
                method: form.method,
                body: formData,
            });
            const result = await response.json();

            if (result.redirect_url) {
                window.location.href = result.redirect_url;
            }
            return false;
        }

        async function deleteDocumentAndRefresh(form, event) {
            event.preventDefault();

            const response = await fetch(form.action, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            });
            const result = await response.json();
            if (result.redirect_url) {
                window.location.href = result.redirect_url;
            }
            return false;
        }

        async function deleteCollectionAndRefresh(form) {
            event.preventDefault();
            const response = await fetch(form.action, {
                method: form.method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            });
            const result = await response.json();
            if (result.redirect_url) {
                window.location.href = result.redirect_url;
            }

            return false;
        }

        async function deleteKeyValuePair(collection_name, document_id, key_to_delete) {
            event.preventDefault();
            const confirmDelete = confirm(`Are you sure you want to delete the key '${key_to_delete}' from the document?`);

            if (!confirmDelete) {
                return;
            }
            // TODO Add the confirming everywhere!
            const response = await fetch(`/delete_key_value/${collection_name}/${document_id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'keyToDelete': key_to_delete }),
            });
            const result = await response.json();
            if (result.redirect_url) {
                window.location.href = result.redirect_url;
            }
        }
    </script>
</body>
</html>